/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family:'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
    font-style: normal;
}

body {
    font-family: 'Montserrat';
    font-size: 20px;
    padding: 20px;
    margin: 0;
    color: black;
}
h1 {
    font-weight: normal;
    font-size: 48px;
    text-align: center;
}
p {
    padding-top: 5px;
    color: black;
}


/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        margin-right: 20mm;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    a {
        color: black;
    }

}

@page {
    size: 210mm 297mm;
    margin: none;
}
