/* réinitialisations de base, ne pas toucher */

* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family:'DINNextLTPro-Conden';
    src: url("fonts/DINNextLTPro-Condensed.otf");
    font-style: normal;
}
@font-face {
    font-family:'YatraOne';
    src: url("fonts/Yatra_One/YatraOne-Regular.ttf");
    font-style: normal;
}

body {
    font-family: 'DINNextLTPro-Condensed';
    padding: 20px;
    font-size: 20px;
    background-color: ivory;
}



p {
    padding-top: 10px;
}

.block {
  border: 2px;
  width: 421px;
  height: 595.5px;
  display: inline-block;
}


div.affiche {
  border: 1px solid gainsboro;
  width: 21cm;
  height: 29.7cm;
  position: relative;
  left: 50%;
  margin-left: -10.5cm;
  margin-top: 8cm;
  background-color: white;
}

.outils {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -10.5cm;
  width: 21cm;
}
.typo {

}

.plus, .moins {
  display: inline-block;
  margin: 30px 5px 0px 5px;
  margin-top: auto;
  border: 1px solid black;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.plus:hover, .moins:hover {
  cursor: pointer;
}

.taille-images {

}


.couleur1{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFE4C4;
}
.couleur2{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5F9EA0;
}
.couleur3{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #DCDCDC;
}
.couleur4{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #8FBC8F;
}
.couleur5{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #B0C4DE;
}
.couleur1, .couleur2,.couleur3, .couleur4, .couleur5 {
  display: inline-block;
  margin: 10px 10px 0px 0px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
}



.outils2 {
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: 11cm;
  width: 21cm;
}

div.gallery-img {
  position: absolute;
  width: 200px;
  padding: 10px;
}
div.gallery-img img {
  width: 50%;
}

div.gallery-text {
  position: absolute;
  width: 200px;
}
div.gallery-text p {
    font-size: 20px;
}


.glissable {
    color: black;
}
.clicked {
    border: 2px solid red;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        margin-right: 20mm;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    a {
        color: black;
    }
    .glissable {
        border: 2px solid red;
    }
    .outils {
      display: none;
    }

    .affiche {
      overflow: hidden;
    }
    .outils, .outils2 {
      display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
