/* réinitialisations de base, ne pas toucher */

* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family: 'regloregular';
    src: url('fonts/reglo-bold.woff2') format('woff2'),
         url('fonts/reglo-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'regloregular';
    padding: 20px;
    font-size: 20px;
    color: sienna;
    background-color: ivory;
    -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}
.h1 {
  font-size: 100px;
  text-align: center;
}


div.affiche {
  border: 1px solid gainsboro;
  width: 21cm;
  height: 29.7cm;
  position: relative;
  left: 50%;
  margin-left: -10.5cm;
  margin-top: 8cm;
  background-color: white;
}

.description {
  position: absolute;
  top: 6cm;
  left: 50%;
  margin-left: -23cm;
  padding: 10px;
  width: 11cm;
  font-size: 40px;
}

.outils {
  position: absolute;
  top: 6cm;
  left: 50%;
  margin-left: -10.5cm;
  width: 21cm;
  border: 1px solid sienna;
  padding: 10px;
}
.typo, .taille-images, .couleur-fond, .couleur-typo, .categories-textes {
  font-size: 40px;
  margin-right: 30px;
}
.typo, .taille-images, .couleur-fond, .couleur-typo {
  display: inline-block;
  width: 9cm;
  }


.plus, .moins {
  display: inline-block;
  margin: 30px 5px 0px 5px;
  margin-top: auto;
  border: 1px solid sienna;
  border-radius: 37px;
  width: 42px;
  height: 42px;
  text-align: center;
}
.plus:hover, .moins:hover {
  cursor: pointer;
}

.taille-images {

}


.couleur1{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFE4C4;
}
.couleur2{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5F9EA0;
}
.couleur3{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #DCDCDC;
}
.couleur4{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #8FBC8F;
}
.couleur5{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #B0C4DE;
}
.couleur1, .couleur2,.couleur3, .couleur4, .couleur5 {
  display: inline-block;
  margin: 10px 10px 0px 0px;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}



.outils2 {
  position: absolute;
  top: 6cm;
  left: 50%;
  margin-left: 11cm;
  padding: 10px;
  width: 11cm;
  border: 1px solid sienna;
  cursor: pointer;
}
.categories-textes p {
  display: inline-block;
  margin-right: 30px;
}
div.gallery-img {
  position: absolute;
  width: 200px;
  padding: 10px;
}
div.gallery-img img {
  width: 70%;
}

div.gallery-text {
  position: absolute;
  width: 200px;
}
div.gallery-text p {
    font-size: 20px;
}


.glissable {
    color: black;
}
.clicked {
    border: 2px solid red;
}

/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        margin-right: 20mm;
        font-size: 20px;
        background-color: none;
    }
    .h1 {
        display: none;
    }
    a {
        color: black;
    }
    .outils {
      display: none;
    }

    .affiche {
      overflow: hidden;
      left: 0;
      margin-left: 0;
      margin-top: 0;
    }
    .outils, .outils2 {
      display: none;
    }
    .description {
      display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
