/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* liens vers la typo */
@font-face {
    font-family:'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family:'aileronblack';
    src: url('fonts/aileron-black-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'sinkin_sans400_regular';
    src: url('fonts/sinkinsans-400regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('fonts/sinkinsans-700bold-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

body {

    font-size: 20px;
}
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}
p {
    padding-top: 20px;
}
.menu {
  font-family: 'aileronblack';
  width: 30%;
  height: 100vh;
  position: fixed;
}

/* tous les divs qui sont dans menu: */
.menu div {
  text-align: center;
}

.sous-menu  {
  font-family:'aileronblack';
  position: absolute;
  left: 100%;
  top: 0px;
  background-color: white;
  width:300px;
  border: 1px solid black;
}

.sous-menu div {
  border: 1px solid black;
  text-align: left;
  padding-left: 5px;

}

.menu-principal {
  position: relative;
}
.menu-titre {
  padding-top: 15px;
  height:80px;
  font-size: 40px;
  margin: 80px;
  background-color: black;
  color:white;
  text-align: center;

}

.texte  {
  font-family:'sinkin_sans400_regular';
  left: 100%;
  top: 0px;
  width:300px;
}

.titre-cartes{
  font-family:'aileronblack';
  border-bottom: 1px solid black;

}

.glissable {
    color: black;
}

.cartes{
  font-family:'sinkin_sans400_regular';;
  position: absolute;
  background-color: white;
  width:300px;
  border: 1px solid black;
  padding: 5px;
  margin-right: 5px;


}


.fermer{
  position: absolute;
  top: 0;
  right: 0;

}

.notes{
  font-family:'aileronblack';
  position: absolute;
  border: 1px solid black;
  right: 30px;
  top:10px;
  width:100px;
  height:100px;
  text-align:center;
  padding-top: 30px;
  background-color: black;
  color: white;
  }


.loyaute {
  left: 30%;
  top: 10px;
}

.droit-auteur {
  left: 60%;
  top: 30px;
}

.utilisation {
  left: 80%;
  top: 50vh;
}

.entretien {
  left: 90%;
  top: 20vh;
}

.porte {
  left: 20%;
  top: 10vh;
}

.prestations {
  left: 15%;
  top: 12vh;
}

.sous-traitance {
  left: 15%;
  top: 12vh;
}

.conservation {
  left: 15%;
  top: 12vh;
}

.presentation-individuelles {
  left: 15%;
  top: 12vh;
}

.exemplaires-justificatif {
  left: 15%;
  top: 12vh;
}

.offres {
  left: 15%;
  top: 12vh;
}

.facturation {
  left: 15%;
  top: 12vh;
}
.condition {
  left: 15%;
  top: 12vh;
}

.commissions {
  left: 15%;
  top: 12vh;
}

.litiges {
  left: 15%;
  top: 12vh;
}

.droit {
  left: 15%;
  top: 12vh;
}

.Juridiction {
  left: 15%;
  top: 12vh;
}
.color{
  position:absolute;
  padding-left: 80px;
  top:90%

}
.imprimer{
  font-family:'aileronblack';
  position: absolute;
  padding-top: 20px;
  height:70px;
  font-size: 30px;
  margin: 80px;
  color:black;
  text-align: center;
  top:700px;
}

.rafraichir{
  font-family:'aileronblack';
  position: absolute;
  padding-top: 20px;
  height:70px;
  font-size: 30px;
  margin: 80px;
  color:black;
  text-align: center;
  top:650px;
}


  body {
  background: white;
}

#groovy {
  font: bold 120px 'Cooper Black', 'Cooper Std', 'Cooper Std Black', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
}


/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        margin-right: 20mm;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    a {
        color: black;
    }
    .glissable {
        border: 2px solid red;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
