/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}


div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;

}

/* liens vers la typo */
@font-face {
    font-family:'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family:'aileronblack';
    src: url('fonts/aileron-black-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'sinkin_sans400_regular';
    src: url('fonts/sinkinsans-400regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans700_bold';
    src: url('fonts/sinkinsans-700bold-webfont.woff2');
    font-weight: normal;
    font-style: normal;
}

body {

    font-size: 20px;
}
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}
p {
    padding-top: 20px;
}
.menu {
  font-family: 'aileronblack';
  width: 30%;
  height: 100vh;
  position: fixed;
}

/* tous les divs qui sont dans menu: */
.menu div {
  text-align: center;
}

.sous-menu  {
  font-family:'aileronblack';
  position: absolute;
  left: 100%;
  top: 0px;
  background-color: white;
  width:300px;
  border: 1px solid black;
}

.sous-menu div {
  border: 1px solid black;
  text-align: left;
  padding-left: 5px;

}

.menu-principal {
  position: relative;
}
.menu-titre {
  padding-top: 15px;
  height:80px;
  font-size: 40px;
  margin: 80px;
  background-color: black;
  color:white;
  text-align: center;

}

.texte  {
  font-family:'sinkin_sans400_regular';
  left: 100%;
  top: 0px;
  width:300px;
}

.titre-cartes{
  font-family:'aileronblack';
  border-bottom: 1px solid black;

}

.glissable {
    color: black;
}

.cartes{
  font-family:'sinkin_sans400_regular';;
  position: absolute;
  background-color: white;
  width:325px;
  border: 3px solid black;
  padding: 5px;
  margin: 5px;


}


.fermer{
  position: absolute;
  top: -2px;
  right: 6px;

}

.notes{
  font-family:'aileronblack';
  position: absolute;
  border: 1px solid black;
  right: 80px;
  top:80px;
  width:100px;
  height:100px;
  text-align:center;
  padding-top: 35px;
  background-color: black;
  color: white;
  }


    .notes-nouvelles{
      font-family:'aileronblack';
      position: absolute;
      right: 50px;
      top:20px;
      width:300px;
      height:300px;
      text-align:center;
      padding-top: 30px;

      }
      .notes-nouvelles:hover {
        border: 1px solid black;
        }


.loyaute {
  left: 30%;
  top: 10px;
}

.droit-auteur {
  left: 60%;
  top: 30px;
}

.utilisation {
  left: 80%;
  top: 50vh;
}

.entretien {
  left: 70%;
  top: 20vh;
}

.porte {
  left: 20%;
  top: 10vh;
}

.prestations {
  left: 15%;
  top: 12vh;
}

.sous-traitance {
  left: 30%;
  top: 50vh;
}

.conservation {
  left: 60%;
  top: 28vh;
}

.presentation-individuelles {
  left: 64%;
  top: 68vh;
}

.exemplaires-justificatif {
  left: 80%;
  top: 23vh;
}

.offres {
  left: 35%;
  top: 68vh;
}

.facturation {
  left: 68%;
  top: 53vh;
}
.condition {
  left: 20%;
  top: 42vh;
}

.commissions {
  left: 60%;
  top: 17vh;
}

.litiges {
  left: 9%;
  top: 50vh;
}

.droit {
  left: 43%;
  top: 58vh;
}

.Juridiction {
  left: 41%;
  top: 6vh;
}
.color{
  position:relative;
}
.imprimer{
  font-family:'aileronblack';
  position: absolute;
  padding-top: 20px;
  height:70px;
  font-size: 30px;
  margin: 80px;
  color:black;
  text-align: center;
  top:700px;
}

.rafraichir{
  font-family:'aileronblack';
  position: absolute;
  padding-top: 20px;
  height:70px;
  font-size: 30px;
  margin: 80px;
  color:black;
  text-align: center;
  top:650px;
}
.tips {
  font-family:'aileronblack';
  position: absolute;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin-top: 45vh;
  width: 100%;
}
.click-couleur1 {
  color: #00BFFF;
}
.click-couleur2 {
  color: yellow;
}
.click-couleur3 {
  color: #FF1493;
}
.click-couleur4 {
  color: black;
}


/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        margin-right: -55mm;
        margin-left: -50mm;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    a {
        color: black;
    }
    .glissable {
        border: 2px solid red;
    }
    .tips {
      display: none;
    }

    .imprimer {
      display: none;
    }

    .rafraichir {
      display: none;
    }

    .notes {
      display: none;
    }

@page {
    size: 210mm 297mm;
    margin: none;
}
