@font-face {
  font-family: Garcia;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GARCIA-Regular.woff2')
}

@font-face {
  font-family: Romande;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/RomandeADFStd-Regular.woff2')
}

@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Metropolis-Regular.woff2')
}

* {
  --couleur-alicia: #f9f;
  --couleur-antoine: #ff6c00;
  --couleur-sophie: #00f;
}

html {
  background-color: #ddd;
}

body {
  font-family: 'Metropolis', serif;
  font-size: 1em;
}

ul.menu {
  position: fixed;
  color: white;
  font-family: 'Metropolis', serif;
  font-size: 2em;
  text-transform: uppercase;
  list-style-type: none;
}

ul.menu>li {
  cursor: pointer;
}

img {
  max-width: 130%;
  filter: color(100%);
  webkit-filter: blur(10px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}

img:hover {
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px);
}

article {
  /*width: 100%;
  color: white;*/
}

.alicia article {
  /*text-shadow: var(--couleur-alicia) 2px 2px 6px;*/
}

.antoine article {
  /*text-shadow: var(--couleur-antoine) 2px 2px 6px, var(--couleur-antoine) 2px 2px 6px, var(--couleur-antoine) 2px 2px 6px;*/
}

.sophie article {
  /*text-shadow: var(--couleur-sophie) 2px 2px 6px, var(--couleur-sophie) 2px 2px 6px, var(--couleur-sophie) 2px 2px 6px;*/
}

.chapter {
  margin-top: 10px;
}

.theme {
  width: 10%;
  height: calc(100% - 10px);
  padding: 5px;
  border: white solid 1px;
  border-right: none;
}

.blocs {
  width: 29%;
}

.theme, .blocs {
  color: white;
  display: inline-block;
  vertical-align: top;
}

body{
  background: rgba(218,218,218,1)
}
