@font-face {
  font-family: Garcia;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/GARCIA-Regular.woff2')
}

@font-face {
  font-family: Romande;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/RomandeADFStd-Regular.woff2')
}

@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Metropolis-Regular.woff2')
}

* {
  --couleur-alicia: #f9f;
  --couleur-antoine: #ff6c00;
  --couleur-sophie: #00f;
}

html {
  background-color: #999;
}

body {
  font-family: 'Metropolis', serif;
  font-size: 1em;
}

ul.menu {
  position: fixed;
  color: white;
  font-family: 'Metropolis', serif;
  font-size: 2em;
  text-transform: uppercase;
  list-style-type: none;
}

ul.menu>li {
  cursor: pointer;
}

img {
  max-width: 100%;
  filter: color(100%);
}



article {
  /*width: 100%;
  color: white;*/
}

.alicia article {
  /*text-shadow: var(--couleur-alicia) 2px 2px 6px;*/
}

.antoine article {
  /*text-shadow: var(--couleur-antoine) 2px 2px 6px, var(--couleur-antoine) 2px 2px 6px, var(--couleur-antoine) 2px 2px 6px;*/
}

.sophie article {
  /*text-shadow: var(--couleur-sophie) 2px 2px 6px, var(--couleur-sophie) 2px 2px 6px, var(--couleur-sophie) 2px 2px 6px;*/
}

.chapter {
  margin-top: 10px;
}

.theme {
  width: 10%;
  height: calc(100% - 10px);
  padding: 5px;
  border: white solid 1px;
  border-right: none;
}

.blocs {
  width: 29%;
}

.theme, .blocs {
  color: white;
  display: inline-block;
  vertical-align: top;
}

body{
  background: rgba(218,218,218,1)
}

a{
  color: #111
}

.photo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.photo img{
  width: 700px;
  height: 500px;
  object-fit: cover;
  filter: color(100%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
  display: block;
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img{
  box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
}

.photo .glow-wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow{
  display: block;
  position:absolute;
  width: 40%;
  height: 200%;
  background: rgba(255,255,255,.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow{
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover img,
.photo:hover .glow-wrap{
  margin-top: 0;
}

h1{
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
  font-family: 'Metropolis', serif;
  margin: 0;
  line-height: 1.2;
}


/* Ends */
