/* réinitialisations de base, ne pas toucher */
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

.editable-label-text{
    width: 250px;
    height: 25px;
    margin-top: 5px;
}

/* liens vers la typo */
@font-face {
    font-family:'Montserrat';
    src: url("fonts/Montserrat-Regular.ttf");
    font-style: normal;
}
html{
  background-color: #e14a39;
}
body {
  height:891mm;
  width:255mm;
  background-color: white;
    font-family: 'Fira Mono';
    font-size: 20px;
    padding: 20px;
    margin: 0 25%;
    margin-top: 50px;
    color: blue;
    margin-bottom:50px;
    border: 5px;
}
.ultratitre{
  font-family:'Fira Mono';
  font-size: 35px;
  text-align: center;
  width: 500px;
  font-weight: bold;
}
.explication{
  width: 300px;
  position:absolute;
  font-size: 11pt;
  text-align: left;
  margin-left: -340px;
  margin-top: -86px;
  border:2px;
  background: white;
  padding:10px;
}
.glisse1{
  letter-spacing: 2px;
}

.allimages{
  width: 175px;
  position:absolute;
}
.impression{
  width: 300px;
  position:relative;
  font-size: 11pt;
  text-align: left;
  line-height: 22px;
  margin-top: 15%;
  text-decoration: underline;
  letter-spacing: 2px;
}
.box   {
  font-family:'Fira Mono';
  font-size: 11pt;
  background: #fff;
  width: 280px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: left;
  border: 2px solid #000;
  letter-spacing: 2px;
  hyphens: auto;
}
.sliderun{
  width:300px;
  display: inline-block;
}
.slider1{
  width: 10px;
  margin-top: 40px;
  position: absolute;
}
.slider2{
  width: 10px;
  margin-top: 40px;
  position: absolute;
  margin-left: 666px;
}
.slider3{
  width: 10px;
  margin-top: 115px;
  position: absolute;
  margin-left: 333px;
}
.slider4{
  width: 10px;
  margin-top: 205px;
  position: absolute;
}
.slider5{
  width: 10px;
  margin-top: 205px;
  position: absolute;
  margin-left: 666px;
}
.slider6{
  width: 10px;
  margin-top: 280px;
  position: absolute;
  margin-left: 333px;
}
.slider7{
  width: 10px;
  margin-top: 370px;
  position: absolute;
}
.slider8{
  width: 10px;
  margin-top: 370px;
  position: absolute;
  margin-left: 666px;
}
.slider9{
  width: 10px;
  margin-top: 445px;
  position: absolute;
  margin-left: 333px;
}
.slider10{
  width: 10px;
  margin-top: 535px;
  position: absolute;
}
.slider11{
  width: 10px;
  margin-top: 535px;
  position: absolute;
  margin-left: 666px;
}
.slider12{
  width: 10px;
  margin-top: 610px;
  position: absolute;
  margin-left: 333px;
}
.slider13{
  width: 10px;
  margin-top: 700px;
  position: absolute;
}
.slider14{
  width: 10px;
  margin-top: 700px;
  position: absolute;
  margin-left: 666px;
}
.slider15{
  width: 10px;
  margin-top: 775px;
  position: absolute;
  margin-left: 333px;
}
.slider16{
  width: 10px;
  margin-top: 865px;
  position: absolute;
}
.slider17{
  width: 10px;
  margin-top: 865px;
  position: absolute;
  margin-left: 666px;
}
.slider18{
  width: 10px;
  margin-top: 940px;
  position: absolute;
  margin-left: 333px;
}
.slider19{
  width: 10px;
  margin-top: 1030px;
  position: absolute;
}
.slider20{
  width: 10px;
  margin-top: 1030px;
  position: absolute;
  margin-left: 666px;
}

h2 {
  font-family: 'Fira Mono';
  font-size: 10pt;
  width:280px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  margin: 0;
	background: #000;
  text-align:left;
	color: #fff;
  border-bottom: 1px solid #fff;
  line-height: 15px;
  letter-spacing: 2px;
	}
h2:hover{
  background: #000 !important;
}
div {
  font-family: 'Fira Mono', sans-serif;
  text-align: center;
  color: #000;
  font-size: 10px;
  margin: 0 auto;
  width:320px;
}


h1 {
  margin-top: 3000px;
  color: white;
  text-shadow: 2px 2px 4px Yellow;
    font-weight: normal;
    font-size: 40px;
    position: static;
}
p {
    padding-top: 20px;
}
.glissable {
    color: red;
}

.invisible{display:none;}

.image1 img {
  max-width: 50px;
  max-height: 50px;
  position: absolute;
  margin-top:25px;
  margin-left:300px;
}

.image2 img {
  max-width:50px;
  max-height: 50px;
  position: absolute;
  margin-top: 120px;
  margin-left: -20px;
}
.image3 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 110px;
    margin-left:640px;
}

.image4 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 200px;
    margin-left:300px;
}

.image5 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 275px;
    margin-left: -20px;
}

.image6 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 280px;
    margin-left:620px;
}

.image7 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 360px;
    margin-left:300px;
}
.image8 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 435px;
    margin-left: -20px;
}
.image9 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 440px;
    margin-left:640px;
}
.image10 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 530px;
    margin-left:300px;
}
.image11 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 610px;
    margin-left: -50px;
}
.image12 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 610px;
    margin-left:610px;
}
.image13 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 690px;
    margin-left:300px;
}
.image14 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 780px;
    margin-left: -50px;
}
.image15 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 780px;
    margin-left:640px;
}
.image16 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 860px;
    margin-left:300px;
}
.image17 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 940px;
    margin-left: -40px;
}
.image18 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 940px;
    margin-left:640px;
}
.image19 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 1030px;
    margin-left:300px;
}
.image20 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 1100px;
    margin-left: -30px;
}
.image21 img{
    max-width: width:50px;
    max-height: 50px;
    position: absolute;
    margin-top: 1100px;
    margin-left:640px;
}

/* RESPONSIVE */
@keyframes neon {
  from {
    color: rgba(28, 137, 34, 0);
    text-shadow:
      0 0 1px #73D977,
      0 0 5px #07520A,
      0 0 1px #1cbb22,
      0 0 2px #1cbb22,
      0 0 3px #79d97d;
  }
  to {
    color: rgba(28, 137, 34, 0);
    text-shadow:
      0 0 1.5px #73D977,
      0 0 5px #07520A,
      0 0 1px #1cbb22,
      0 0 3px #1cbb22,
      0 0 4px #79d97d;
  }
}

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    body {
        margin: none;
    }
}

/* IMPRESSION */

@media print {
    .screen-only {
        display: none;
    }
    body {
        margin: 0;
        font-size: 20px;
    }
    h1 {
        font-size: 20px;
    }
    a {
        color: black;
    }
    h2{
      margin-bottom: none;
      color: black;
    }
    .box{
      border: none;
    }
    .explication{
      display: none;
    }

}

@page {
    size: 210mm 297mm;
    margin: none;
}
